---
import type { AttributeGroup as IAttributeGroup } from '../../content/product.repository';
import AttributeGroup from '../attributes/AttributeGroup.astro';

export type Props = {
  specification: IAttributeGroup;
};

const { specification } = Astro.props;
---

<div class="mb-3 mb-sm-4 p-2 bg-white">
  <AttributeGroup group={specification} title={specification.name} />
</div>
