---
import Socials from "./Socials.astro";
import Logo from "./Logo.astro";
import LanguageSelector from "./LanguageSelector.astro";
import HeaderNavigation from "./HeaderNavigation.astro";
import type { SocialAccount } from "../content/misc.repository";

export type Props = {
  socials: SocialAccount[];
}

const { socials } = Astro.props;
---

<header class="container-fluid px-0">
  <div class="socials-container bg-dark">
    <Socials accounts={socials} />
  </div>
  <div class="container d-flex justify-content-between align-items-center">
    <Logo />
    <div class="d-flex align-items-center gap-3">
      <LanguageSelector />
    </div>
  </div>
  <div class="container">
    <HeaderNavigation />
  </div>
</header>
<div class="container-fluid bg-secondary text-center py-1 text-white">
  GREY HUNTER
</div>
