---
import type { ContentProduct, NewProduct } from "../content/product.repository";
import ProductCard from "./ProductCard.astro";
import { productRepository } from "../content";

interface Props {
  products: NewProduct[];
  lang: string;
}

const { products, lang } = Astro.props;
---

{
  products.length > 0 && (
    <section class="py-5">
      <div class="container">
        <h2 class="fs-1 fw-bold text-center mb-4">New in Offer</h2>
        <hr class="text-secondary" />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3">
          {products.map(({ product, label }) => ( <ProductCard 
            product={product} 
            link={productRepository.makeProductUrl(product, lang)}
            badge={label} 
          /> ))}
        </div>
      </div>
    </section>
  )
}
