---
import type { NewProduct } from "../content/product.repository";
import ProductCard from "./ProductCard.astro";

interface Props {
  products: NewProduct[];
  lang: string;
}

const { products, lang } = Astro.props;
---

{
  products.length > 0 && (
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3">
      {products.map(({ product, label }) => (
        <ProductCard product={product} badge={label} />
      ))}
    </div>
  )
}
