---
import type { Manufacturer } from "../content/manufacturer.repository";
import { makeUrl } from "../libs/url";
import { CldImage } from "astro-cloudinary";
import Card from "./ui/Card.astro";

export type Props = {
  manufacturer: Manufacturer;
};

const { manufacturer } = Astro.props;

const href = manufacturer.link.url.startsWith('http')
  ? manufacturer.link.url
  : makeUrl(Astro, { path: manufacturer.link.url });
---

<Card
  href={href}
  target={manufacturer.link.target}
  variant="elevated"
  animation="lift"
>
  <div
    slot="body"
    class="d-flex align-items-center justify-content-center"
    style="min-height: 280px;"
  >
    <CldImage
      src={manufacturer.logoImage}
      alt={manufacturer.name + " logo"}
      width={400}
    />
  </div>
</Card>
