---
import type { ContentManufacturer } from "../content/manufacturer.repository";

export type Props = {
  manufacturers: ContentManufacturer[];
  ordering: string[];
};

const { manufacturers, ordering } = Astro.props;

manufacturers.sort((a, b) => {
  const indexA = ordering.indexOf(a.slug);
  const indexB = ordering.indexOf(b.slug);
  return indexA - indexB;
});
---

<div class="row row-cols-2 g-3 g-md-4">
  {
    manufacturers.map((manufacturer) => (
      <div class="col">
        <a
          class="d-flex justify-content-center align-items-center h-100 bg-white"
          href={manufacturer.link.url}
          target={manufacturer.link.target}
        >
          <img
            src={manufacturer.logoUrl}
            alt={manufacturer.name}
            class="img-fluid"
            style="max-height: 90%;"
          />
        </a>
      </div>
    ))
  }
</div>
