---
import { siteRepository } from "../content";
import type { Manufacturer } from "../content/manufacturer.repository";
import ManufacturerLogo from "./ManufacturerLogo.astro";

export type Props = {
    manufacturer: Manufacturer;
    story: string;
}

const { manufacturer, story } = Astro.props;
const t = siteRepository.getTranslator(manufacturer.lang);
---

<section class="row animate-fade-in">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <h2 class="h5 fw-bold">{t('headings.owner-story-why') + " " + manufacturer.name + "?"}</h2>
        <p class="text-secondary">{story}</p>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <ManufacturerLogo manufacturer={manufacturer} />
    </div>
</section>