---
import { CldImage } from "astro-cloudinary";
import type { MossaicPicture } from "../content/misc.repository";

export type Props = {
  mossaicPictures: MossaicPicture[];
};

const { mossaicPictures } = Astro.props;
---

<div class="row row-cols-3 g-1">
  {
    mossaicPictures.map((picture) => (
      <div class="col">
        <CldImage
          src={picture.image_url}
          width={400}
          height={400}
          crop={"fill"}
          class="w-100 h-100 object-fit-cover"
          alt={ "Mosaic picture"}
          loading="lazy"
          sizes="(max-width: 576px) 50vw, (max-width: 768px) 33vw, (max-width: 992px) 25vw, 200px"
        />
      </div>
    ))
  }
</div>
