---
import type { SocialAccount } from "../content/misc.repository";

export type Props = {
  accounts: SocialAccount[];
};

const { accounts } = Astro.props;
---

<div class="d-flex gap-4 justify-content-center">
  {
    accounts.map((social: SocialAccount) => (
      <a href={social.url} class="fs-5 link-underline link-underline-opacity-0 text-white" target="_blank" rel="noopener noreferrer">
        <i class={social.icon} />
        {social.name}
      </a>
    ))
  }
</div>
