---
import ProductCard from "../components/product/ProductCard.astro";
import Hero from "../components/ui/Hero.astro";
import Section from "../components/ui/Section.astro";

import type { Manufacturer } from "../content/manufacturer.repository";
import type { Product } from "../content/product.repository";

export type Props = {
  manufacturer: Manufacturer;
  products: Product[];
};

const { manufacturer, products } = Astro.props;
---

<div class="category-page animate-fade-in">
  <Hero 
    title={manufacturer.name} 
    slogan={'Super Cool Knives'} 
  />

    <Section heading={"Oferta"} divider={true}>
        <div class="row row-cols-1 row-cols-md-4 g-4 animate-stagger">
          {
            products.map((product) => (
              <div class="col">
                <ProductCard product={product} />
              </div>
            ))
          }
        </div>
    </Section>
</div>
