---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import "../styles/animations.css";
import "../styles/components/card.css";
import "../styles/components/footer.css";
import "../styles/components/frontpage.css";

import Header from "../components/ui/Header.astro";
import Footer from "../components/ui/Footer.astro";

import { getCloudinaryUrl } from "../libs/cloudinary";
const faviconUrl = getCloudinaryUrl("tomjan/grey-hunter-logo-01");

interface Props {
  title: string;
  mainClass?: string;
  lang?: string;
}

const { title, mainClass, lang } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tomasz Jantos - Grey Hunter" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={faviconUrl} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="d-flex flex-column min-vh-100 bg-light">
    <Header />
    <main class={"container flex-grow-1 py-4 " + (mainClass ?? "")}>
      <slot />
    </main>
    <Footer lang={lang} />
    <script>
      import "bootstrap/js/dist/carousel";
      import "bootstrap/dist/js/bootstrap.bundle.min.js";
    </script>
  </body>
</html>
