---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sarsilmaz Pistols" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <script>
      import "bootstrap/js/dist/base-component";
      import "bootstrap/js/dist/collapse";
      import "bootstrap/js/dist/carousel";
    </script>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
