---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

import { miscRepository } from "../content";

const socialAccounts = miscRepository.findSocialAccounts();
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Grey Hunter" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <Header socials={socialAccounts} />
    <main class="container">
      <slot />
    </main>
    <Footer />
    <script>
      import "bootstrap/dist/js/bootstrap.bundle.min.js";
    </script>
  </body>
</html>
