---
export type Props = {
  title: string;
  slogan: string;
  gap?: number
}

const { title, slogan, gap = 4 } = Astro.props;
---

<div class="hero text-center d-flex flex-column justify-content-center align-items-center" style={`gap: ${gap}px`}>
  <h1 class="hero-title display-4 fw-bold p-0 m-0">
    {title}
  </h1>
  <p class="hero-slogan lead text-muted p-0 m-0">
    {slogan}
  </p>
</div>
