---
import { makeUrl } from "../../libs/url";
import type { AvailableLanguage } from "../../content/site.repository";

interface Props {
  languages: AvailableLanguage[];
  currentLanguage: AvailableLanguage;
}

const { languages, currentLanguage } = Astro.props;
---

<div class="ui-language-selector dropdown d-inline-block ms-3">
  <button
    class="btn btn-outline-secondary dropdown-toggle btn-sm"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {currentLanguage.flag}
  </button>
  <ul class="dropdown-menu">
    {
      languages.map(({ code, label, flag }) => (
        <li>
          <a class="dropdown-item" href={makeUrl(Astro, { targetLocale: code })} >
            {flag}
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</div>
