---
import { CldImage } from "astro-cloudinary";
import { makeUrl } from "../../libs/url";

export type Props = {
  lang: string;
};

const { lang } = Astro.props;
---

<a
  href={makeUrl(Astro, { targetLocale: lang, path: "/" })}
  class="ui-logo text-white text-decoration-none"
>
  <CldImage
    class={"h-100 w-100"} 
    crop="fill"
    gravity="auto"
    format="auto"
    quality="auto"
    width={70}
    src={`eley.com.pl/grey-hunter-logo-02.svg`}
    alt="Grey Hunter Logo"
    sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
  />
</a>
