---
import type { AttributeGroup } from "../../content/product.repository";
import Attribute from "./Attribute.astro";

export type Props = {
  group: AttributeGroup;
  title: string;
  titleClass?: string;
  attributeClass?: string;
};

const { title, group, titleClass, attributeClass } = Astro.props;
---

<div class="attribute-group">
  <h6 class={`h6 fw-bold mb-2 ${titleClass ?? ""} text-secondary`}>
    {title}
  </h6>
  <div class="attributes-list px-3">
    {group.properties.map((prop, index) => (
      <Attribute
        name={prop.name}
        value={prop.value}
        class={attributeClass ?? ""}
        isLast={index === group.properties.length - 1}
      />
    ))}
  </div>
</div>
