---
export type Props = {
  name: string;
  value: string;
  class?: string;
  isLast?: boolean;
};

const { name, value, class: className, isLast } = Astro.props;
---

<div class={`d-flex flex-column flex-sm-row gap-2 p-2 ${!isLast ? "border-bottom" : ""} ${className ?? ""}`}>
  <div class="fw-bold flex-shrink-0">{name}</div>
  <div class="flex-grow-1">{value}</div>
</div>
